body{
    margin: 0;
}
#myBox{
    background-color: blue;
    color: white;
    width: 200px;
    height: 200px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-20%, -10%);
    position: relative;
}